.vbox {
  display: flex;
  flex-direction: column;
}
body {
  height: 100vh;
}
form {
  flex: 1;
}


form .mce-tinymce, form .mce-stack-layout, form .mce-edit-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}
form .mce-tinymce iframe {
  flex: 1;
}
